<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs') %>

    <body>
        <%- include('./components/navbar.ejs') %>
            <div class="container">
                <h3>this is about page</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quo nobis iusto nam incidunt aut
                    nostrum! Labore, odit doloremque? Sequi laudantium suscipit voluptates dignissimos fugit, illum
                    pariatur nobis obcaecati cupiditate!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam reprehenderit corporis repudiandae
                    soluta quibusdam. Officiis dolore dolorem hic sit magnam veritatis vero quidem amet, ipsum
                    voluptatibus libero odio quia quis?</p>
            </div>
    </body>

</html>